{% extends "layouts/base.njk" %} {% block content %}

<h2 class="mb-3">{{ title }}</h2>

<p>
  <span>{{ author | safe }}</span> |
  <em>{{ date | date("MMMM d, yyyy") }}</em>
</p>
<p>
  {{ description | safe }}
</p>
{% set imageUrl = thumbnail or '/images/image_4.jpg' %}

<p>
  <img src="{{ imageUrl }}" alt="" class="img-fluid" />
</p>
<div class="blog-single-content">{{ content | safe }}</div>

{% endblock %}
