{% extends "layouts/base.njk" %} {% block content %}

<h2 class="mb-3">{{ title }}</h2>
<p>
  <em>{{ date | date("MMMM d, yyyy") }}</em>
</p>
<p>{{ content | safe }}</p>
<p>
  <img src="images/image_4.jpg" alt="" class="img-fluid" />
</p>

{% endblock %}
