---
layout: layouts/base.njk
title: "Dentique - Dental Clinic"
permalink: "/"
---

<!--  Home Slider Section -->
<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url(images/bg_1.webp)">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row slider-text align-items-center"
        data-scrollax-parent="true">
        <div
          class="col-md-6 col-sm-12 ftco-animate"
          data-scrollax=" properties: { translateY: '70%' }">
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Modern Dentistry in a Calm and Relaxed Environment
          </h1>
          <p
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Experience personalized dental care with state of the art technology
            in a warm, welcoming environment.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('images/bg_2.webp')">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row slider-text align-items-center"
        data-scrollax-parent="true">
        <div
          class="col-md-6 col-sm-12 ftco-animate"
          data-scrollax=" properties: { translateY: '70%' }">
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            Modern Achieve Your Desired Perfect Smile
          </h1>
          <p class="mb-4">
            Let us craft your ideal smile with advanced treatments and a caring
            team dedicated to your comfort.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal for Appointment Request -->
<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-3 color-1 p-4">
        <h3 class="mb-4">Emergency Cases</h3>
        <p>
          We provide 24/7 emergency dental care for sudden tooth pain, injuries,
          and infections.
        </p>
        <span class="phone-number">+2 392 3929 210</span>
      </div>
      <div class="col-md-3 color-2 p-4">
        <h3 class="mb-4">Opening Hours</h3>
        <p class="openinghours d-flex">
          <span>Monday - Friday</span>
          <span>8:00 - 19:00</span>
        </p>
        <p class="openinghours d-flex">
          <span>Saturday</span>
          <span>10:00 - 14:00</span>
        </p>
        <p class="openinghours d-flex">
          <span>Sunday</span>
          <span>10:00 - 16:00</span>
        </p>
      </div>
      <div class="col-md-6 color-3 p-4">
        <h3 class="mb-2">Make an Appointment</h3>
        <form
          id="appointment-form-hero"
          action="https://formsubmit.co/djallel123456@gmail.com"
          method="POST"
          class="appointment-form">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon">
                  <i class="fa-solid fa-user"></i>
                </div>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name-hero-input"
                  placeholder="Name" />
              </div>
              <div id="name-hero-error" class="error-msg"></div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  id="email-hero-input"
                  placeholder="Email" />
              </div>
              <div id="email-hero-error" class="error-msg"></div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon">
                  <i class="fa-solid fa-phone-flip"></i>
                </div>
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  id="phone-hero-input"
                  placeholder="Phone Number" />
              </div>
              <div id="phone-hero-error" class="error-msg"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon">
                    <i class="fa-solid fa-arrow-down"></i>
                  </div>
                  <select
                    class="form-control"
                    name="service"
                    id="service-hero-input">
                    <option value="none" disabled selected>
                      Select service
                    </option>
                    <option value="Check-Up & Cleaning">
                      Check-Up & Cleaning
                    </option>
                    <option value="Tooth Extraction">Tooth Extraction</option>
                    <option value="Fillings / Cavities Treatment">
                      Fillings / Cavities Treatment
                    </option>
                    <option value="Braces / Clear Aligners">
                      Braces / Clear Aligners
                    </option>
                    <option value="Root Canal Treatment">
                      Root Canal Treatment
                    </option>
                    <option value="Other / Not Sure">Other / Not Sure</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input
                  type="date"
                  name="date"
                  id="date-hero-input"
                  class="form-control appointment_date"
                  placeholder="Date"
                  style="padding-right: 0" />
              </div>
              <div id="date-hero-error" class="error-msg"></div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input
                  type="time"
                  name="time"
                  id="time-hero-input"
                  class="form-control"
                  placeholder="Time" />
              </div>
              <div id="time-hero-error" class="error-msg"></div>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button
              id="appointment-hero-submit-btn"
              type="button"
              class="btn hero-appointment-btn">
              Make an Appointment
            </button>
          </div>
          <input
            type="hidden"
            name="_subject"
            value="From Dentist website - Appointment form !" />
          <input type="hidden" name="_captcha" value="false" />
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Services Section -->
<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Our Service Keeps you Smile</h2>
        <p>
          Our comprehensive dental services combine expert skills with gentle
          care to keep your smile healthy every day.
        </p>
      </div>
    </div>
    <div class="row">
      {% for service in collections.homeServices %}
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <a
          href="{{ service.url }}"
          class="text-decoration-none text-reset w-100">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <img
                src="{{ service.data.thumbnail }}"
                alt="{{ service.data.title }}"
                class="img-fluid" />
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">{{ service.data.title }}</h3>
              <p class="service-description">
                {{ service.data.description }}
              </p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <p
      class="services-link"
      data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
      <a href="/services/" class="btn btn-primary px-4 py-3"
        >Check all our services <i class="fa-solid fa-arrow-right"></i>
      </a>
    </p>
  </div>
</section>
<!-- Achievements Section -->
<section
  class="ftco-section ftco-counter img"
  id="section-counter"
  style="background-image: url(images/bg_1.webp)"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-3 aside-stretch py-5">
        <div class="heading-section heading-section-white ftco-animate pr-md-4">
          <h2 class="mb-3">Achievements</h2>
          <p>
            Over a decade of excellence, delivering top‑tier dental solutions
            and compassionate care to our community.
          </p>
        </div>
      </div>
      <div class="col-md-9 py-5 pl-md-5">
        <div class="row">
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="14">0</strong>
                <span>Years of Experience</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="4500">0</strong>
                <span>Qualified Dentist</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="4200">0</strong>
                <span>Happy Smiling Customer</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="320">0</strong>
                <span>Patients Per Year</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimony Section -->
<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Testimony</h2>
        <span class="subheading">What Our Patients Say</span>
      </div>
    </div>
    <div class="row justify-content-center ftco-animate">
      <div class="col-md-8">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <!-- Testimonial 1 -->
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="
                  background-image: url(https://res.cloudinary.com/notkirito18/image/upload/v1751108340/Dentist-demo-website/testimonies/uy2cw5hfca8evuhes77l.webp);
                ">
                <span
                  class="quote d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="testimony-text mb-5">
                  “I felt at ease from my first visit—the team explained every
                  step, and now my smile has never looked better.”
                </p>
                <p class="name">María Gómez</p>
                <span class="position">Teeth Whitening</span>
              </div>
            </div>
          </div>

          <!-- Testimonial 2 -->
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="
                  background-image: url(https://res.cloudinary.com/notkirito18/image/upload/v1751108340/Dentist-demo-website/testimonies/z5uw96arih6qkubd1jtb.webp);
                ">
                <span
                  class="quote d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="testimony-text mb-5">
                  “After getting my implant, I can eat and smile confidently
                  again. Truly professional care and a caring staff.”
                </p>
                <p class="name">John Miller</p>
                <span class="position">Dental Implant</span>
              </div>
            </div>
          </div>

          <!-- Testimonial 3 -->
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="
                  background-image: url(https://res.cloudinary.com/notkirito18/image/upload/v1751108663/Dentist-demo-website/testimonies/qbgv1jtwhhge4fajbhjj.jpg);
                ">
                <span
                  class="quote d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="testimony-text mb-5">
                  “Dr. Al‑Hassan and her team were incredibly gentle during my
                  root canal—pain‑free and stress‑free experience!”
                </p>
                <p class="name">Fatima Ahmed</p>
                <span class="position">Root Canal Therapy</span>
              </div>
            </div>
          </div>

          <!-- Testimonial 4 -->
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="
                  background-image: url(https://res.cloudinary.com/notkirito18/image/upload/v1751108340/Dentist-demo-website/testimonies/f1cykhtnk8u33hyeonbp.webp);
                ">
                <span
                  class="quote d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="testimony-text mb-5">
                  “My children actually look forward to their visits—fun
                  check‑ups, gentle cleanings, and a welcoming atmosphere!”
                </p>
                <p class="name">Sarah Brown</p>
                <span class="position">Pediatric Cleaning</span>
              </div>
            </div>
          </div>

          <!-- Testimonial 5 -->
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="
                  background-image: url(https://res.cloudinary.com/notkirito18/image/upload/v1751108341/Dentist-demo-website/testimonies/jlr3wtnnc1lu92kv6lky.webp);
                ">
                <span
                  class="quote d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="testimony-text mb-5">
                  “Excellent service, friendly staff, and top‑notch facilities.
                  Highly recommend for anyone needing dental care.”
                </p>
                <p class="name">Mustafa Salem</p>
                <span class="position">Wisdom Tooth Removal</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Dentists Section -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-3">Meet Our Experienced Dentists</h2>
        <p>
          Our skilled dental professionals blend advanced expertise and
          heartfelt care to ensure your healthiest, brightest smile.
        </p>
      </div>
    </div>
    <div class="row">
      {% for dentist in collections.homeDentists %}
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url('{{ dentist.data.thumbnail }}')"></div>
          <div class="info text-center">
            <h3>
              <a href="/">{{ dentist.data.title }}</a>
            </h3>
            <span class="position">{{ dentist.data.position }}</span>
            <div class="text">
              <p>
                {{ dentist.data.description }}
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <p
      class="services-link"
      data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
      <a href="/about#doctors" class="btn btn-primary px-4 py-3"
        >Check our entire team <i class="fa-solid fa-arrow-right"></i>
      </a>
    </p>
  </div>
</section>

<!-- Newsletter Section -->
<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subscribe to our Newsletter</h2>
          <p>
            Stay updated with dental care tips, exclusive offers, and clinic
            news by subscribing to our newsletter today.
          </p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form
                id="subscribe-form"
                action="https://formsubmit.co/djallel123456@gmail.com"
                method="POST"
                class="subscribe-form">
                <div class="form-group d-flex">
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    id="email-subscribe-input"
                    placeholder="Enter email address" />
                  <button
                    id="subscribe-submit-btn"
                    class="submit px-3 subscribe-submit-btn"
                    type="button">
                    Subscribe
                  </button>
                </div>
                <div id="email-subscribe-error" class="error-msg"></div>
                <input
                  type="hidden"
                  name="_subject"
                  value="From Dentist website - Newsletter Subscription !" />
                <input type="hidden" name="_captcha" value="false" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Latest Blog</h2>
        <p>
          Explore our expert articles on oral health, treatment breakthroughs,
          and patient success stories for informed care.
        </p>
      </div>
    </div>
    <div class="row">
      {% for post in collections.latestPosts %}
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry">
          {% set imageUrl = post.data.thumbnail or '/images/image_1.webp' %}
          <a
            href="{{ post.url }}"
            class="block-20"
            style="background-image: url('{{ imageUrl }}')">
          </a>
          <div class="py-4">
            <h3 class="blog-title">
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h3>
            <div class="mb-3">
              <div class="blog-info">
                {{ post.date | date("MMMM d, yyyy") }}
              </div>
              <div class="blog-info">{{ post.data.author }}</div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-12 text-center">
        <p class="text-center">No blog posts yet.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Quote Section -->
{% include "partials/quote.njk" %}
<!-- Map Section -->
<div id="map"></div>

<script src="/js/map.js"></script>
