---
layout: layouts/base.njk
title: "About Us"
permalink: "/about/"
---

<section class="home-slider owl-carousel">
  <div
    class="slider-item bread-item"
    style="background-image: url(/images/bg_2.webp)"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p
            class="breadcrumbs"
            data-scrollax=" properties: { translateY: '70%', opacity: 1.6}">
            <span class="mr-2"><a href="/">Home</a></span>
            <span>About</span>
          </p>
          <h1
            class="mb-3"
            data-scrollax=" properties: { translateY: '70%', opacity: .9}">
            About Us
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 ftco-animate img about-image order-md-last">
        <video
          preload="none"
          loading="lazy"
          controls
          width="640"
          height="360"
          poster="/images/about_thumbnail.webp">
          <source src="/images/about_video.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="col-md-6 ftco-animate pr-md-5 order-md-first">
        <div class="heading-section mb-4">
          <span class="subheading">Welcome to Dentique</span>
          <h2 class="mb-4">We are a team of professional dentists</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2">
  <div class="container-wrap">
    <div class="row d-flex no-gutters">
      <div
        class="col-md-6 img"
        style="background-image: url(../images/about_2.webp)"></div>
      <div class="col-md-6 d-flex">
        <div class="about-wrap">
          <div class="row">
            <div class="col-md-12 nav-link-wrap mb-4">
              <div
                class="nav ftco-animate nav-pills"
                id="v-pills-tab"
                role="tablist"
                aria-orientation="vertical">
                <a
                  class="nav-link tabs-nav active"
                  id="v-pills-whatwedo-tab"
                  data-toggle="pill"
                  href="#v-pills-whatwedo"
                  role="tab"
                  aria-controls="v-pills-whatwedo"
                  aria-selected="true"
                  >What we do</a
                >

                <a
                  class="nav-link tabs-nav"
                  id="v-pills-mission-tab"
                  data-toggle="pill"
                  href="#v-pills-mission"
                  role="tab"
                  aria-controls="v-pills-mission"
                  aria-selected="false"
                  >Our mission</a
                >

                <a
                  class="nav-link tabs-nav"
                  id="v-pills-goal-tab"
                  data-toggle="pill"
                  href="#v-pills-goal"
                  role="tab"
                  aria-controls="v-pills-goal"
                  aria-selected="false"
                  >Our goal</a
                >
              </div>
            </div>
            <div class="col-md-12 d-flex align-items-center">
              <div class="tab-content ftco-animate" id="v-pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="v-pills-whatwedo"
                  role="tabpanel"
                  aria-labelledby="v-pills-whatwedo-tab">
                  <div>
                    <h2 class="mb-4">We Offer High Quality Services</h2>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>Well Experience Dentist</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>High Technology Facilities</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>Comfortable Clinics</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane fade"
                  id="v-pills-mission"
                  role="tabpanel"
                  aria-labelledby="v-pills-mission-tab">
                  <div>
                    <h2 class="mb-4">To Accomodate All Patients</h2>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>Well Experience Dentist</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>High Technology Facilities</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>Comfortable Clinics</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane fade"
                  id="v-pills-goal"
                  role="tabpanel"
                  aria-labelledby="v-pills-goal-tab">
                  <div>
                    <h2 class="mb-4">Help Our Customers Needs</h2>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>Well Experience Dentist</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>High Technology Facilities</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                    <div class="list-services d-flex ftco-animate">
                      <div
                        class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check fa-2xl"></i>
                      </div>
                      <div class="text">
                        <h3>Comfortable Clinics</h3>
                        <p>
                          Far far away, behind the word mountains, far from the
                          countries Vokalia and Consonantia, there live the
                          blind texts.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="doctors" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-3">Meet Our Experienced Dentists</h2>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_5.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Tom Smith</a></h3>
            <span class="position">Dentist</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_6.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Mark Wilson</a></h3>
            <span class="position">Dentist</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_7.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Patrick Jacobson</a></h3>
            <span class="position">Dentist</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_8.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Ivan Dorchsner</a></h3>
            <span class="position">System Analyst</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_1.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Tom Smith</a></h3>
            <span class="position">Dentist</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_2.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Mark Wilson</a></h3>
            <span class="position">Dentist</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_3.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Patrick Jacobson</a></h3>
            <span class="position">Dentist</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="background-image: url(/images/person_4.webp)"></div>
          <div class="info text-center">
            <h3><a href="/">Ivan Dorchsner</a></h3>
            <span class="position">System Analyst</span>
            <div class="text">
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia
              </p>
              <ul class="ftco-social">
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-solid fa-phone"></i></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Quote Section -->
<section class="ftco-quote">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-5 aside-stretch py-5 choose">
        <div class="heading-section heading-section-white mb-5 ftco-animate">
          <h2 class="mb-2">Dentique Procedure &amp; High Quality Services</h2>
        </div>
        <div class="ftco-animate">
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar. Because there were thousands of bad Commas, wild
            Question Marks and devious Semikoli
          </p>
          <ul class="un-styled my-5">
            <li>
              <i class="fa-sharp-duotone fa-solid fa-check"></i>
              <span class="ml-1"> Consectetur adipisicing elit </span>
            </li>
            <li>
              <i class="fa-sharp-duotone fa-solid fa-check"></i>
              <span class="ml-1"> Adipisci repellat accusamus </span>
            </li>
            <li>
              <i class="fa-sharp-duotone fa-solid fa-check"></i>
              <span class="ml-1"> Tempore reprehenderit vitae </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 py-5 pl-md-5">
        <div class="heading-section mb-5 ftco-animate">
          <h2 class="mb-2">Get a Free Quote</h2>
        </div>
        <form action="#" class="ftco-animate">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Website" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="7"
                  class="form-control"
                  placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="submit"
                  value="Get a Quote"
                  class="btn btn-primary py-3 px-5" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
