<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Dentique.</h2>
          <p>
            Providing trusted, gentle dental care for all ages — from routine
            checkups to advanced treatments — in a warm, patient-first
            environment. Your smile is our priority
          </p>
        </div>
        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
          <li class="ftco-animate">
            <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
          </li>
          <li class="ftco-animate">
            <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
          </li>
          <li class="ftco-animate">
            <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Office & Contact</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <i class="fa-solid fa-location-dot"></i
                ><span class="text pl-3"
                  >203 Rain St. Mountain View, New york, USA</span
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-phone"></i
                  ><span class="text pl-3">+2 392 3929 210</span></a
                >
              </li>
              <li>
                <a href="mailto:info@dentique.org"
                  ><i class="fa-solid fa-envelope"></i
                  ><span class="text pl-3">info@dentique.org</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="/" class="py-2 d-block">Home</a></li>
            <li><a href="/about/" class="py-2 d-block">About</a></li>
            <li><a href="/services/" class="py-2 d-block">Services</a></li>
            <li><a href="/blog/" class="py-2 d-block">Blog</a></li>
            <li><a href="/contact/" class="py-2 d-block">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;</p>
      </div>
    </div>
  </div>
</footer>
